.vs__search{
    position: relative !important;
    display: inline-block !important;
    min-height: 30px !important;
    line-height: 20px !important;
    border: none !important;
    border-radius: 5px !important;
    background: #fff !important;
    padding: 0 0 0 5px !important;
    transition: border .1s ease !important;
    box-sizing: border-box !important;
    margin-bottom: 8px !important;
    vertical-align: top !important;
}

.vs__selected{
    background: rgb(86, 100, 210);
    margin: 10px 5px;
    color: white;
}

.vs__search::placeholder{
    color: lightgrey;
    padding-left: 7px;
    font-size: 15px;
}

input::placeholder{
    color: lightgrey;
}

.vs__selected svg{
    fill: white;
}

.is-invalid{
    border: 1px solid #ff3d60 !important;
    border-radius: 7px;
}

.ck-editor{
    border: 1px solid #ced4da !important;
}

.cursor-pointer{
    cursor: pointer;
}

.spinner-border{
    position: absolute;
    left: 50%;
    top: 200px;
}

.b-basic-table th:first-child,
.b-basic-table th:last-child{
    width: 120px;
}

.wizard-card-footer{
    margin-top: 50px;
}

@media( min-width: 768px){
    .add-product-wrapper{
        display: flex;
    }
    .add-product-wrapper:first-child{
        max-width: 500px;
    }
    .add-product-wrapper button{
        min-width: 120px;
    }
}

@media (max-width: 767px){
    .add-product-wrapper button{
        margin-top: 5px;
        float: right;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 7px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-strike{
    text-decoration: line-through;
}
