.required{
    color: orangered;
    position: relative;
    font-size: 15px;
}

.card-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.multiselect__element .multiselect__option span{
    text-transform: capitalize;
}
