.required{
    color: orangered;
    position: relative;
    font-size: 15px;
}

.card-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.multiselect__element .multiselect__option span{
    text-transform: capitalize;
}

.vue-form-wizard .wizard-nav-pills>li>a{
    color: rgba(0,0,0,.5);
}

.vue-form-wizard .wizard-nav-pills>li>a:hover{
    color: rgba(0,0,0,1);
}

.apexcharts-xaxis-label tspan{
    font-weight: 500;
    fill: #505d69
}
